@import "tailwindcss";

@font-face {
  font-family: 'Nico Moji Local';
  src: url('../src/fonts/NicoMoji-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.force-nico-font {
  font-family: 'Nico Moji Local', sans-serif !important;
}